.data-hora {
    text-align: center;
    margin-top: 3%;
    font-size: x-large;
}

#dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(190, 190, 190);
    border-radius: 30px;
    padding: 2%;
    font-size: small;
    
}

#dialog-fechar:hover{

    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0);

}

*{
    margin: 0%;
    padding: 0%;

}

#btn-registrar-ponto{
    border-radius: 5px;
    background-color: rgb(55, 82, 156);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 47%;
    margin-top: 3%;
    font-size: larger;

}

dialog{
    margin: 15%;
    margin-left: 45%;
    padding: 5%;

}

#registro{

    background-color: rgb(67, 67, 155);
    margin-top: 15%;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: large;
    padding: 8px;
}

#registro:active{
    background-color:  rgb(43, 43, 100);
}

#dialog-data{

    margin: 2%;
}

body{
    background-image: url('/OIP.jpg');

    background-size:  1890px;
    color: white;
}